.home {
    background-color: black;
    height: calc(100vh - 3rem);
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.homeContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: 30px;
    left: 50px;

}


.homeName {
    color: yellow;
    font-size: 2rem;
    font-weight: 400;
}


.hello {
    color: white;
    font-size: 1rem;
}

.homeText {
    color: white;
    font-size: 2rem;
    font-weight: 500;

}


.homePara {
    color: white;
    font-size: 0.8rem;

}

.hello,
.homeText {
    display: block;
}

.profileImage {
    object-fit: contain;
    width: 250px;
    border-radius: 0.3rem;
    position: absolute;
    right: 100px;
    top: 150px;
    outline: 0.3rem solid rgb(117, 114, 114)
}

.resume {
    position: absolute;
    right: 270px;
    top: 430px;
    background-color: #ff6b6b;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}


.hirebtn {
    background-color: white;
    margin: 1rem 0;
    padding: 0.5rem 0.75rem;
    padding-right: 20px;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;

}

.hire {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;

}

.hirebtn a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

@media screen and (max-width:840px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px
    }

    .homeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

    }


    .profileImage {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;
        object-fit: cover;
        outline: 5px solid rgb(157, 172, 172);
        margin-bottom: 20px;
    }

    .imageSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .homeContent {
        position: static;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        margin: 80px 10px;
    }

    .resume {
        position: static;
        margin-top: 15px;
    }

}



@media screen and (max-width: 580px) {

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px
    }

    .homeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .profileImage {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        object-fit: cover;
        outline: 5px solid rgb(157, 172, 172);
        margin-bottom: 20px;
    }

    .imageSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .homeContent {
        position: static;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        margin: 80px 10px;
    }

    .resume {
        position: static;
        margin-top: 15px;
    }

}