.home {
    background-color: rgb(239, 234, 234);
    height: calc(100vh - 3rem);
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.homeContent {
    display: flex;
      max-width: 600px;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 50px;
}


.homeName {
    color: rgba(15, 22, 63, 0.822);
    font-size: 2.3rem;
    font-weight: 600;

}

.hello {
    color: rgba(25, 36, 98, 0.84);
    font-size: 1rem;
    font-weight: 500;

}

.homeText {
    color: rgba(25, 36, 98, 0.84);
    font-size: 2rem;
    font-weight: 500;
}


.homePara {
    color: rgba(25, 36, 98, 0.84);
    font-size: 0.8rem;
    font-weight: 500;

}



.profileImage {
    object-fit: cover;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    right: 100px;
    top: 150px;
    outline: 0.3rem solid rgb(202, 197, 197)
}


.hirebtn {
    font-size: 0.9rem;
    background-color: #a8bfe5d2;
    color: white;
    margin: 1rem 0;
    padding: 0.5rem 0.75rem;
    padding-right: 20px;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;

}

.hirebtn:hover {
    background-color: #95acd0;
    cursor: pointer;
}



.hirebtn a {
    text-decoration: none;
    color: rgba(25, 36, 98, 0.84);
    font-weight: bold;

}


.resume {
    position: absolute;
    right: 270px;
    top: 430px;
    background-color: #ff6b6b;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width:840px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px
    }


    .homeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .homeText{
        font-size: 1.5rem;
    }


    .profileImage {
        position: static;
        
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
        border: 5px solid rgb(157, 172, 172);
        margin-bottom: 20px;
    }

    .imageSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .homeContent {
        position: static;
        gap:10px;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        margin: 50px 10px;
    }

    .resume {
        position: static;
        margin-top: 15px;
    }

}



@media screen and (max-width: 580px) {

    .home {
        display: flex;
        min-height: 100vh;
        height: auto;
        overflow: hidden;
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
      
    }

    .hello{
        font-size: 0.7rem;
       
    }

    .homeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .homeName{
        font-size:1.5rem ;
        word-break: break-word;
       
    }

    .homeText{
        font-size: 1.3rem;
        word-break: break-word;
        line-height: 1.4;
        
    }

    
  

    .profileImage {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height:250px;
        border-radius: 10px;
        object-fit: cover;
        border: 5px solid rgb(157, 172, 172);
        margin-bottom: 20px;
    }

    .imageSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .homeContent {
        position: static;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        gap:3px;
        margin: 30px 10px;  
        
    }

    .resume {
        position: static;
        overflow: hidden;
        margin-top: 10px;
    }

}

