.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: #282c34;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: yellow;
  display: flex;
  align-items: center;
}

.compLogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding-right: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover,
.nav-links a:active {
  color: yellow;
  text-decoration: underline;
}


.menuIcon {
  display: none;
  width: 30px;
  cursor: pointer;
}


.menuBox {
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  width: 120px;
  height: 140px;
  background-image:radial-gradient(rgb(241, 236, 236),rgb(163, 162, 162));
  border-radius: 10px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}


.menuBox.show {
  display: flex;
}

.listItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItems li {
  padding: 2px 0;
}

.listItems li a {
  line-height: 1.4;
  color: rgba(35, 16, 89, 0.785);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;

}

.listItems li a:hover {
  text-decoration: underline;
  font-weight: bolder;
}


@media (max-width: 580px) {
  .nav-links {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}