* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


#Projects {
    background-color: black;
    min-height: calc(100vh - 3rem);
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.projectDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 100vw;
}

.projectDescription h1 {
    display: block;
    color: yellow;
    padding-bottom: 0.5rem;
}

.projectDescription p {
    font-size: 0.75rem;
    font-weight: 400;

}

.projectSection {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    align-items: flex-start;
}

.projectBox h2 {
    padding: 10px;
    color: rgb(37, 37, 96);
}

.projectBox {
    background-image: radial-gradient(white, rgb(79, 79, 79));
    color: black;
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 0.75rem;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 15px;

}


.projectBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    min-width: 120px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.blueButton,
.demoButton {
    font-family: "poppins";
    font-weight: 500;
    padding: 10px 13px;
    background: #134984c1;
}

.blueButton:hover,
.demoButton:hover {
    background-color: #11365f;
}

.buttonContainer a {
    text-decoration: none;
}

.projectBox button img {
    width: 30px;
    height: 30px;
}


.projectImage {
    object-fit: contain;
    margin-top: 20px;
}

.calcDescription {
    margin-bottom: 30px;
}


@media screen and (max-width: 990px) {
    .projectSection {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
        align-items: center;
    }
}